/* PC */
@media (min-width: 64em) {

}

/* Tablet and mobile */
@media (max-width: 63.9375em) {
    .place-buy-btn {
        padding: 16px;
    }

    .form-submit-btn {
        padding: 15px 24px;
    }

    .form-control {
        padding: 14px;
        font-size: 18px;
    }

    .contact-content {
        line-height: 2;
    }

    #footer > a {
        padding: 10px;
    }

    .footer-w3 {
        padding: 15px 0;
        display: inline-block;
    }
}

/* Tablet */
@media (min-width:  46.25em) and (max-width: 63.9375em) {
    #nav .subnav a {
        padding: 4px 24px;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {
    .s-full-width {
        width: 100% !important;
    }
    
    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    .s-mt-32 {
        margin-top: 32px !important;
    }

    #header {
        overflow: hidden;
    } 

    #header .search-btn {
        display: none;
    }

    #header .mobile-menu-btn {
        padding: 0 16px;
        display: block;
    }

    #header .mobile-menu-btn:hover {
        color: #000 !important;
        background-color: #ccc;
    }

    #header .search:hover{
        background-color: #ccc;
    }

    #nav {
        display: block;
    }
    #nav .subnav {
        position: initial;
    }

    #nav .subnav a {
        padding: 4px 30px;
        background-color: rgb(39, 38, 38);
        color: #fff;
    }
    
    #nav li a {
        padding: 1px 24px;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #content .member-img {
        width: 60%;
    }

    .place-buy-btn {
        padding: 16px;
    }

    .form-submit-btn {
        padding: 15px 14px;
    }
}